---
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";
import { Icon } from 'astro-icon/components';
import { getTranslations } from "../../i18n/translations";

const t = getTranslations('en');
---

<Layout maxWidth="xl" lang="en">
    <div class="w-full max-w-xl" transition:name="content">
        <h1 class="text-left text-2xl font-bold mb-2 animate-in delay-0">{t.blog.title}</h1>
        <p class="animate-in delay-1">{t.blog.subtitle}</p>
        <div class="animate-in delay-2">
            <PostList lang="en" />
        </div>
    </div>
    <a class="text-zinc-500 flex flex-row items-center gap-1 hover:text-white animate-in delay-3" href="/en/"><Icon name="lucide:arrow-left" />{t.blog.back}</a>
</Layout>
