<footer class="-mt-20 text-center text-sm text-zinc-500 relative z-10">
    Built with ❤️ using Astro. Check it out at <a class="text-white" href="https://github.com/withastro/astro" target="_blank" rel="noopener noreferrer">GitHub</a>.
</footer>