---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="w-full">
	<h1 class="text-xl font-bold animate-in delay-0">Carlos Ferreras</h1>
	<details class="min-w-md animate-in delay-1">
		<summary>About me</summary>
		<p>
			I'm a web developer and designer based in Spain. I love creating beautiful and functional websites and applications.
		</p>
	</details>
</div>

