<!-- TODO: Make this section dynamic by fetching using astro Content with local markdown files -->
<section class="w-full my-8">
    <div class="flex flex-col gap-4">
        <a class="flex flex-row justify-between border-dashed border-b border-zinc-700 pb-2 hover:font-bold">
            <div class="col-span-3">Review de compos</div>
            <div>20 de Enero, 2025</div>
        </a>
        <a class="flex flex-row justify-between border-dashed border-b border-zinc-700 pb-2 hover:font-bold">
            <div class="col-span-3">Mi primera entrada al blog</div>
            <div>1 de Enero, 2025</div>
        </a>
    </div>
</section>
